<nav class="navbar navbar-default navbar-static-top">

  <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <p class="navbar-text navbar-left">5:00 PM Jun/01/2017</p>
        <li><a href="#">Inicio</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Reportes <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Configuracion de Reportes</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Procesos Electorales <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a routerLink="/jornada">Jornadas de Votación</a></li>
            <li><a routerLink="/candidato">Candidatos</a></li>
            <li><a href="#">Elecciones</a></li>
            <li><a href="#">Tarjetones</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Variables <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Tipo Votantes</a></li>
            <li><a href="#">Dependencias</a></li>
            <li><a href="#">Responsables</a></li>
            <li><a href="#">Ponderaciones </a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Usuarios <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Administración de Usuarios</a></li>
            <li><a href="#">Administración de Roles</a></li>
            <li><a href="#">Asignación de Permisos</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Votantes <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Consulta de Votantes</a></li>
            <li><a href="#">Gestion de Fuentes de Votantes</a></li>
          </ul>
        </li>

      </ul>
      <ul>
        <p class="navbar-text navbar-right"><a href="#" class="navbar-link">Salir</a></p>
        <p class="navbar-text navbar-right">Usuario: <a href="#" class="navbar-link">Steven Sierra</a></p>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div>
</nav>


